.result {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color-theme);

    @include breakpoint(md) {
    padding-top: 60px;
    padding-bottom: 40px;
    }

    @include breakpoint(sm) {
        padding-top: 30px;
    }

    &__title {
        margin-bottom: 49px;
        
    }

    &__subtitle {
        font-size: 16px;
        color: #FFF;
        opacity: 0.5;
        line-height: 1.6;
    }

    &__cards-wrap {
        display: flex;
        padding-top: 180px;
        @include breakpoint(md) {
            flex-direction: column;
            padding-top: 50px;
        }
        @include breakpoint(sm) {
            padding-top: 40px;
        }
    }

    &__card {
        width: 25%;
        @include breakpoint(md) {
            margin-left: 60%;
            position: relative;
        }
    }

    &__value {
        position: relative;
        display: flex;
        align-items: center;
        padding-bottom: 25%;
        max-height: 80px;
        @include breakpoint(md) {
            justify-content: center;
            max-height: none;
            height: 140px;
            padding-bottom:0;
            
        }

        &::before {
            position: absolute;
            content: attr(data-percent);
            top: -150%;
            font-weight: bold;
            font-size: 36px;
            color: #FFF;

            @include breakpoint(md) {
                font-size: 18px;
                top: 30%;
                left: 85%;
            }
        }

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: var(--percent);
            background-image: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
            @include breakpoint(md) {
                width: calc(var(--percent) / 3 );
                height: 100%;
            }
            @include breakpoint(sm) {
                width: calc(var(--percent) / 2 );
            }
        }
    }

    &__desc {
        font-size: 14px;
        color: #FFF;
        opacity: 0.5;
        text-align: left;
        line-height: 1.6;
        margin: 0;
        margin-right: var(--gutter);
        @include breakpoint(md) {
            position: absolute; 
            top: 30%;
            left: -240%;
            right: 85%;
        }
        
        @include breakpoint(sm) {
            font-size: 13px;
            top: 15%;
        }

    }
}